@font-face {
  font-family: "pacifico";
  src: url("../font/pacifico.eot");
}


@font-face {
  font-family: "pacifico";
  src: url("../font/pacifico.svg");
}


@font-face {
  font-family: "pacifico";
  src: url("../font/pacifico.ttf");
}


@font-face {
  font-family: "pacifico";
  src: url("../font/pacifico.woff");
}


@font-face {
  font-family: "pacifico";
  src: url("../font/pacifico.woff2");
}


@font-face {
  font-family: "helveticaneuecyr-medium";
  src: url("../font/helveticaneuecyr-medium.eot");
}


@font-face {
  font-family: "helveticaneuecyr-medium";
  src: url("../font/helveticaneuecyr-medium.svg");
}


@font-face {
  font-family: "helveticaneuecyr-medium";
  src: url("../font/helveticaneuecyr-medium.ttf");
}


@font-face {
  font-family: "helveticaneuecyr-medium";
  src: url("../font/helveticaneuecyr-medium.woff");
}


@font-face {
  font-family: "helveticaneuecyr-medium";
  src: url("../font/helveticaneuecyr-medium.woff2");
}


@font-face {
  font-family: "helveticaneuecyr-roman";
  src: url("../font/helveticaneuecyr-roman.eot");
}


@font-face {
  font-family: "helveticaneuecyr-roman";
  src: url("../font/helveticaneuecyr-roman.svg");
}


@font-face {
  font-family: "helveticaneuecyr-roman";
  src: url("../font/helveticaneuecyr-roman.ttf");
}


@font-face {
  font-family: "helveticaneuecyr-roman";
  src: url("../font/helveticaneuecyr-roman.woff");
}


@font-face {
  font-family: "helveticaneuecyr-roman";
  src: url("../font/helveticaneuecyr-roman.woff2");
}


@font-face {
  font-family: "helveticaneuecyr-light";
  src: url("../font/helveticaneuecyr-light.eot");
}


@font-face {
  font-family: "helveticaneuecyr-light";
  src: url("../font/helveticaneuecyr-light.svg");
}


@font-face {
  font-family: "helveticaneuecyr-light";
  src: url("../font/helveticaneuecyr-light.ttf");
}


@font-face {
  font-family: "helveticaneuecyr-light";
  src: url("../font/helveticaneuecyr-light.woff");
}


@font-face {
  font-family: "helveticaneuecyr-light";
  src: url("../font/helveticaneuecyr-light.woff2");
}


@font-face {
  font-family: "helveticaneuecyr-bold";
  src: url("../font/helveticaneuecyr-bold.eot");
}


@font-face {
  font-family: "helveticaneuecyr-bold";
  src: url("../font/helveticaneuecyr-bold.svg");
}


@font-face {
  font-family: "helveticaneuecyr-bold";
  src: url("../font/helveticaneuecyr-bold.ttf");
}


@font-face {
  font-family: "helveticaneuecyr-bold";
  src: url("../font/helveticaneuecyr-bold.woff");
}


@font-face {
  font-family: "helveticaneuecyr-bold";
  src: url("../font/helveticaneuecyr-bold.woff2");
}